<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hello, world</h1>
    <p>{{now}}</p>
    <ul>
      <li>
        <a href="{% url 'home_page'%}">Home</a>
      </li>
      <li><a href="#">Admin</a></li>
    </ul>
  </body>
</html>
